.dialog-question {
  color: rgb(39, 39, 41);
  margin-left: auto;
  margin-right: auto;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.dev-box {
  font-size: 0.9rem;
  line-height: 1.4;
}

.close-btn {
  background-color: gainsboro !important;
  margin: 0 0;
}

.close-btn:hover {
  background-color: rgb(194, 194, 194) !important;
}

.title-code {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #9ebfc5;
  text-align: center;
  padding: 0.25rem 0.25rem;
  margin: 0.25rem 0 0.25rem 0;
}

.btn-close2 {
  text-align: right;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: -10px;
  font-size: 0.8em !important;
}

.pre-code {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.border-dark {
  border-color: #343a40 !important;
}
